# ROS 2 Core Settings
ROS_DOMAIN_ID=0
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
RCUTILS_LOGGING_USE_STDOUT=1
RCUTILS_LOGGING_BUFFERED_STREAM=1
PYTHONUNBUFFERED=1
RCUTILS_COLORIZED_OUTPUT=1

# Discovery Settings (FastDDS)
# Set to '1' to enable Discovery Server mode. If '0', uses standard Multicast.
ROS_USE_DISCOVERY_SERVER=0
# Optional: IP of the remote Discovery Server (e.g. 192.168.1.100)
ROS_REMOTE_DISCOVERY_SERVER_IP=
# Optional: IP of this client as seen by the remote server
ROS_REMOTE_DISCOVERY_CLIENT_IP=
# Set to '1' if this client should be a Super Client
ROS_SUPER_CLIENT=0

# Email Settings
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_RECIPIENT=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
